@import "../../variables";

.tag {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 50px;
  border-radius: 50px;
  color: $black;
  font-weight: bold;
  pointer-events: none;

  &__text {
    font-size: 1.2rem;
  }
}
