@import "../../variables";
.note {
  flex: 1 1 75%;

  &__container {
    padding: 5px;
  }

  &__header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $dark-gray;

    & > :first-child {
      flex-grow: 2;
      margin-right: 20px;
    }
  }
}
