@import "../../variables";
.note {
  flex: 1 1 75%;

  &__container {
    padding: 5px;
  }

  &__header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $dark-gray;

    &-title {
      padding: 12px;
      font-size: 2.5rem;
    }

    & > :first-child {
      flex-grow: 2;
      margin-right: 20px;
    }
  }

  &__content {
    & > :first-child {
      width: 100%;
      height: 70vh;
      resize: none;
    }
  }
}
